.footer {
  display: block;
  align-items: center;
  text-align: center;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

.footer-copyright {
  font-size: large;
}

.footer-text {
  color: brown;
}
