.footer {
  display: block;
  align-items: center;
  text-align: center;
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  // border: solid brown 3px;
}

.footer-copyright {
  padding-top: 45px;
  padding-bottom: 45px;
  // border: solid brown 3px;
  background-color: rgb(112, 163, 147);
}

.footer-text {
  // color: rgb(39, 13, 190);
}
